* {
  text-align: center;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}
form {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: fit-content;
  height: 100px;
  margin: 0 auto;
}
.container {
  max-width: 76rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 12.5rem);
  grid-auto-flow: dense;
  gap: 10px;
  justify-content: center;
}
.item {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}

section div {
  width: fit-content;
  height: fit-content;
  padding: 8px;
  margin: 8px;
  border-radius: 15px;
  overflow: hidden;
  background: #f2f2f2;
}
